<form action="/" method="post">
  <input type="text" name="name" value="" placeholder="Store Name">
  <input type="text" name="street" value="" placeholder="Street">
  <input type="text" name="city" value="" placeholder="City">
  <input type="text" name="state" value="" placeholder="State">
  <input type="submit" name="" value="Submit">

</form>

<ul>
{{#list}}
  <li>{{name}}</li>
  <li>{{street}}</li>
  <li>{{city}}</li>
  <li>{{state}}</li>
{{/list}}
</ul>
